<h3>What is 2FA?</h3>
<p>
  Two-factor (2FA) is an additional login security layer that helps to address some of the vulnerabilities of a standard password-only approach.
  With 2FA enabled you need to enter a 6-digit code during login, in addition to authenticating with Camdram.
  To get started you will need a smartphone with an authenticator application such as 'Google Authenticator' or 'Authy' installed.
</p>
<h3>How do I setup 2FA?</h3>
<ol>
  <li>Scan the QR-code into your authenticator application.</li>
  <li>Verify everything is working correctly by entering a 2FA code.</li>
  <li>Click 'Verify code' to finish setup.</li>
  <li>You're all done!</li>
</ol>
