<% content_for :title, 'Log In' %>
<% content_for :heading, 'Room Booking Log In' %>

<p>
  The ADC Room Booking System doesn't use usernames and passwords — instead you will need to login with your <%= link_to 'Camdram', 'https://www.camdram.net' %> account in order to make bookings.
  This will then allow you to book rehearsal spaces on behalf of shows and societies that you manage.
  If you need to make a booking for something other than a meeting or rehearsal, or are otherwise not authorised to make bookings, please speak to a member of ADC Management.
</p>

<%= link_to 'Login with Camdram', "/auth/camdram?origin=#{u @referer_path}", class: 'btn btn-outline-primary', method: :post %>
