<% content_for :title, 'Log In' %>
<% content_for :heading, 'Two Factor Authentication' %>

<div class="two-factor text-center">
  <%= form_tag auth_2fa_path, class: 'form', method: :post do %>
    <img src="/logo-wrapped.png" alt="" height="160">
    <h6 class="mb-3 font-weight-normal">To continue log in, please enter your two-factor authentication code.</h6>
    <%= text_field_tag :totp, '', placeholder: 'Two-factor code', class: 'form-control mb-3', required: true, maxlength: 6, minlength: 6, autocomplete: 'off', autofocus: true %>
    <%= submit_tag 'Sign in', class: 'btn btn-lg btn-primary btn-block'  %>
  <% end %>
</div>
