# Ignore bundler config.
/.bundle
/vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore backup files
/db/backup/*.pgdump
/.env.bak

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*

# Ignore JavaScript artifacts
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/public/assets
/public/sitemaps
.byebug_history

# Ignore config files
/.env
/.prod
/Procfile.local

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials.yml.enc

# Ignore test coverage reports
/coverage
