<div id="favourite-bookings" class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Your Favourite Bookings</h6>
  <div id="favourite-bookings-container" class="d-flex justify-content-center">
    <div id="favourite-bookings-spinner" class="mt-4 my-3 donutSpinner"></div>
  </div>
</div>
