<% content_for :title, "Bookings" %>
<div class="alert alert-primary" role="alert">
  <%= link_to 'New booking', new_booking_path %>
</div>
<ul>
  <% @bookings.each do |booking| %>
    <%= render booking %>
  <% end %>
</ul>
