<% content_for :title, "Bookings" %>
<div class="alert alert-primary" role="alert">
  <%= link_to 'New booking', new_booking_path %>
</div>
<%= week_calendar(events: @bookings, attribute: :when) do |date, bookings| %>
  <%= date %>
  <% bookings.each do |booking| %>
    <div>
      <%= booking.name %>
    </div>
  <% end %>
<% end %>
