<% content_for :title, 'Bookings' %>
<% content_for :heading, 'Bookings' %>
<% content_for :controller_links do %>
  <%= link_to_next_page @bookings, 'View more', class: 'btn btn-outline-secondary' %>
  <%= link_to 'New booking', new_booking_path, class: 'btn btn-outline-success' if can? :create, Booking %>
<% end %>

<p>
  Below you can find a sample of recently approved bookings.
  <% if user_signed_in? %>
    To create a booking, click the button at the top-right of this page.
  <% else %>
    You must be logged in to create a new booking.
  <% end %>
</p>

<div class="container bg-light rounded">
  <div class="row">
    <div class="col-sm"><%= render 'recent' %></div>
    <div class="col-sm"><%= render 'favourite' %></div>
  </div>
</div>
