<% content_for :title do %>About Roombooking<% end %>
<p>
  Roombooking handles rehearsal space scheduling for the ADC Theatre and supports the student performing arts community in the historic city of Cambridge, England.
  It was created on behalf of the <%= link_to 'ADC Theatre', 'https://www.adctheatre.com' %> by the Camdram Development Team.
</p>
