<% content_for :title do %>Development<% end %>
<p>
  Roombooking is an <%= link_to 'open source', 'http://opensource.org/docs/osd' %> project hosted on <%= link_to 'GitHub', 'https://github.com/' %> and developed by a team of volunteers for the benefit of the Cambridge student theatre community.
  You can get involved and contribute!
  Our <%= link_to 'repository page', 'https://github.com/camdram/roombooking' %> holds the code that runs this site, as well details about bugs that have been submitted.
  You can 'fork' the repository then fix any open issue (or create a new one). Once you've fixed a bug or created some new functionality, you can then submit a 'pull request' to be reviewed by the development team.
  If you don't have programming skills, but you think you've found a bug or have an idea for a cool new feature for camdram, you can still create a new issue on GitHub, and one of our developers will get back to you.
</p>
