- content_for :title, 'FAQ'
- content_for :heading, 'Frequently Asked Questions'

%h3 How do I make a booking for my show or society?
%p First thing's first, you'll need to be listed as an admin for your show or society on #{link_to 'Camdram', 'https://www.camdram.net'}. If this doesn't already apply to you then you can click on the "Request to be an admin" link (you'll need to be logged in to Camdram to see this). Then login to the Room Booking System and head over to the #{link_to 'new booking page', new_booking_path}. Your show or society should show up in one of the dropdown boxes - shows are allowed to book meetings, rehearsals and auditions whereas societies are only allowed to book meetings. If you show or society doesn't show up then please contact ADC Management. All shows and societies need to be approved by a member of management.

%h3 Why can't I reschedule an existing booking?
%p In general bookings can be rearranged or rescheduled so long as they're not in the past. However there are limits on the total booking time that each show or society is allowed per week and it's possible that you are exceeding these limits. If you're having any issues the please get in touch with ADC Management.

%h3 Can I make a booking that doesn't fit any of the given categories?
%p Please get in touch with ADC Management who will be happy to make bookings on your behalf for unusual events, such as training for example.

%h3 Do I need someone to keyhold during my booking?
%p This section applies to the ADC Theatre only. During office hours (11am to 6pm) a member of management will keyhold on behalf of everyone in the building. Outside these times however, you'll need to make sure that you have a trained keyholder present. You can switch keyholders during your booking so this needn't be the same person for the entire duration if your booking is long, but there must be someone nominated to fulfil the role at all times outside office hours. Please contact ADC Management if you would like to become trained as a keyholder.

%h3 Something on Camdram isn't working for me. Help?
%p The Room Booking System uses Camdram solely as a means of authenticating users and determining their access rights when making bookings. If you're having problems with something on Camdram, please contact Camdram support in the first instance.
