<% content_for :heading, 'ADC Room Booking System' %>

<p>
  The current status of all rooms is shown below — click on a room to view its calendar.
  Roombooking uses your Camdram account to decide what shows or societies you are authorised to make bookings on behalf of.
  If you are not the admin of your show/society, or if your show is not authorised to make bookings, please see a member of the Theatre's management.
</p>

<%= content_tag :div, class: 'list-group' do %>
  <% Venue.all.each do |venue| %>
    <% if venue.currently_booked? %>
      <% str = venue.name + ' — booked for "' + venue.current_booking.name + '"'%>
      <%= link_to str, venue, class: 'list-group-item list-group-item-action list-group-item-dark' %>
    <% else %>
      <% str = venue.name + ' — not currently booked!' %>
      <%= link_to str, venue, class: 'list-group-item list-group-item-action list-group-item-light' %>
    <% end %>
  <% end %>
<% end %>
