<% content_for :heading, 'ADC Room Booking System' %>

<p>
  Welcome to the ADC Room Booking System!
  The current status of all rooms is shown below — click on a room to view its calendar.
</p>

<div class="alert alert-warning" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <p>In light of the COVID-19 pandemic, the following rules are now in force:</p>
  <ol>
    <li>A compulsory minimum period of 15 minutes between bookings will be enforced to allow sufficient ventilation of the room.</li>
    <li>There is a maximum capacity of six people per booking and nobody other that those listed may attend for the duration of the booking.</li>
    <li>Each booking must be accompanied by a list of names and email addresses of all those who will be present.</li>
    <li>The ADC Stage and the entirety of the Corpus Playroom may only be booked by management.</li>
    <li>Bookings are additionally restricted to management office hours only and out-of-hours keyholding will not be permitted.</li>
    <li>It is expected that meetings and auditions will take place via video conference or otherwise. As such, these options have been removed from the booking form.</li>
  </ol>
  <p>Violations of these rules will be treated seriously and dealt with through appropriate university disciplinary procedures.</p>
</div>

<%= content_tag :div, class: 'list-group' do %>
  <% Room.order(:id).each do |room| %>
    <% if room.currently_booked? %>
      <% str = room.name + ' — booked for "' + room.current_booking.name + '"'%>
      <%= link_to str, room, class: 'list-group-item list-group-item-action list-group-item-dark' %>
    <% else %>
      <% str = room.name + ' — not currently booked!' %>
      <%= link_to str, room, class: 'list-group-item list-group-item-action' %>
    <% end %>
  <% end %>
<% end %>
