<% content_for :heading, 'ADC Room Booking System' %>

<p>
  Welcome to the ADC Room Booking System!
  The current status of all rooms is shown below — click on a room to view its calendar.
</p>

<%= content_tag :div, class: 'list-group' do %>
  <% Room.all.each do |room| %>
    <% if room.currently_booked? %>
      <% str = room.name + ' — booked for "' + room.current_booking.name + '"'%>
      <%= link_to str, room, class: 'list-group-item list-group-item-action list-group-item-dark' %>
    <% else %>
      <% str = room.name + ' — not currently booked!' %>
      <%= link_to str, room, class: 'list-group-item list-group-item-action list-group-item-light' %>
    <% end %>
  <% end %>
<% end %>
