- content_for :title, 'Privacy Policy'
- content_for :heading, 'Privacy Policy'

%p
  The ADC Room Booking System aims to operate in a secure and transparent way,
  as detailed in this privacy policy. If you have any questions or comments that
  aren't addressed on this page then please #{link_to 'get in touch', page_path('contact')}.
  The ADC Theatre is a department of the University of Cambridge. For more
  information about how the University handles your personal information, and
  your rights under data protection legislation, please click
  #{link_to 'here', 'https://www.information-compliance.admin.cam.ac.uk/data-protection/general-data'}.

%h3 What personal information about me is collected?
%p
  When you visit the Room Booking System web site, we collect a few basic pieces
  of information about you to track usage and detect abuse. The IP address of
  your computer and the user agent of your web browser will be recorded, together
  with the URL of the page you are viewing. If you continue to view only
  publicly-accessible pages without logging in then this is the only personal
  information that is stored.

%p
  When you login to the Room Booking System you will be redirected and prompted
  to login through Camdram. Upon login, the name and email address with which
  you have registered on Camdram will be copied across to the Room Booking System.
  Any bookings that you make whilst logged in to the site will be displayed
  publicly alongside your name.

%h3 How does Room Booking use cookies?
%p
  The ADC Room Booking System uses cookies for two primary purposes: to ensure
  users remain logged in and to prevent certain types of malicious attack. You
  can chose to reject cookies from the site, however you will not be able to
  login or make bookings, and certain features may not work as expected. Read
  more about how we use cookies #{link_to 'here', page_path('cookies')}. Room
  Booking does not use any form of tracking cookies.

%h3 What safeguards are in place?
%p
  A number of security measure have been built into the ADC Room Booking System
  in order to protect your personal data. The site only operates over encrypted
  computer connections and data are stored in a secure database, the access to
  which is restricted. The only people who can view personal information are the
  system's administrators which comprises members of ADC Theatre Management ex
  officio and the Theatre's IT teams.
