<% content_for :title, "Venues" %>
<% content_for :controller_links do %>
  <p class="mb-0"><%= link_to('New venue', new_venue_path) %></p>
<% end if user_is_admin? %>

<ul>
  <% @venues.each do |venue| %>
    <%= render venue %>
  <% end %>
</ul>
