$adc-purple:      rgb(108, 37, 117);
$adc-pink:        rgb(218, 0, 116);
$adc-dark-pink:   rgb(169, 30, 102);
$adc-red:         rgb(204, 26, 35);
$adc-orange:      rgb(234, 96, 24);
$adc-yellow:      rgb(253, 197, 0);
$adc-green:       rgb(173, 200, 15);
$adc-dark-green:  rgb(9, 140, 56);
$adc-teal:        rgb(22, 168, 157);
$adc-blue:        rgb(20, 123, 173);
