$fixed-width-amount: 140px;

#import-tools {
  .import-tools-fixed-width {
    width: $fixed-width-amount !important;
  }

  .import-tools-width-remaining {
    min-width: calc(100% - #{$fixed-width-amount}) !important;
  }
}
