@import 'adc_house_colours';

table.calendar {
  font-size: 10pt;
  width: 100%;
  padding: 0;
  margin: 0;

  thead {
    tr {
      th {
        min-width: 15ch;
      }
    }
  }

  h3 {
    text-align: center;
    width: 100%;
    height: 1.2em;
    margin: 2pt;
  }

  td {
    padding: 0;
    position: relative;
    height: 50em;
    width: 14.285714286%;
  }

  .booking {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #dee2e6;
    z-index: 3;
    word-wrap: break-word;
    overflow: hidden;

    &:last-child {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #dee2e6;
    }
  }

  a {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;

    span.time {
      font-size: 80%;
      display: block;
      width: 100%;
    }

    &:hover {
      color: inherit;
    }
  }
}

.booking-performance_of { background-color: $adc-purple;     color: #fff !important; }
.booking-meeting_of     { background-color: $adc-blue;       color: #fff !important; }
.booking-meeting_for    { background-color: $adc-blue;       color: #fff !important; }
.booking-rehearsal_for  { background-color: $adc-dark-green; color: #fff !important; }
.booking-audition_for   { background-color: $adc-yellow;     color: #000 !important; }
.booking-get_in_for     { background-color: $adc-dark-pink;  color: #fff !important; }
.booking-training       { background-color: $adc-orange;     color: #000 !important; }
.booking-theatre_closed { background-color: $adc-red;        color: #fff !important; }
.booking-other          { background-color: $adc-teal;       color: #000 !important; }
