<div class="alert alert-warning">
  <p>Please note that a batch import job was recently initiated <%= time_diff_for_batch_import_job(@batch_import_result) %> ago.</p>
  <% if @batch_import_result.completed %>
    <% if @shows_imported_successfully.length > 0 %>
      <p>The following shows were imported successfully (and have had block bookings made for their performance dates):</p>
      <ol>
        <% @shows_imported_successfully.each do |name| %>
          <li><%= name %></li>
        <% end %>
      </ol>
    <% end %>

    <% if @shows_imported_unsuccessfully.length > 0 %>
      <p>The following shows were <b>not</b> imported successfully (perhaps because their performance dates clash with an existing booking):</p>
      <ol>
        <% @shows_imported_unsuccessfully.each do |name| %>
          <li><%= name %></li>
        <% end %>
      </ol>
    <% end %>

    <% if @shows_already_imported.length > 0 %>
      <p>The following shows were not imported because they had already been imported previously:</p>
      <ol>
        <% @shows_already_imported.each do |name| %>
          <li><%= name %></li>
        <% end %>
      </ol>
    <% end %>
  <% else %>
    <p>The import is currently awaiting processing.</p>
  <% end %>
</div>
