/*
 *= require flatpickr
 *= require peek
 *= require peek/views/performance_bar
 *= require peek/views/rblineprof
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'font-awesome';
@import 'cookies_eu';

.controller-links {
  * {
    margin-top: inherit;
    margin-bottom: inherit;
  }
}

.list-group-item-compact {
  padding: 0.45rem 1.25rem !important;
}

#peek {
  overflow: hidden;
}
