div.calendar-nav {
  width: 50%;
}

table.calendar {
  font-size: 10pt;
  width: 100%;
  padding: 0;
  margin: 0;
}

.calendar h3 {
  text-align: center;
  width: 100%;
  height: 1.2em;
  margin: 2pt;
}

table.calendar td {
  padding: 0;
  position: relative;
  height: 50em;
  width: 14.285714286%;
}

.calendar .booking {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #dee2e6;
  z-index: 3;
  overflow: hidden;
}

.calendar .booking:last-child {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dee2e6;
}

.calendar a {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: #000000;
}

.calendar a span.time {
  font-size: 80%;
  display: block;
  width: 100%;
}
