.navbar-adc {
   background-color: #DA0074;
 }

 /* change the branding text color */
.navbar-adc .navbar-brand {
    color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-adc .navbar-nav .nav-link {
    color: rgba(255,255,255,.55);
}

/* change the color of active links */
.navbar-adc .nav-item.active .nav-link {
    color: #ffffff;
}

/* change the color of hovered links */
.navbar-adc .nav-item:hover .nav-link {
    color: rgba(255,255,255,0.9);
}

/* change the colour of the navbar toggle for mobile */
.adc-toggler.navbar-toggler {
  border-color: rgba(255,255,255,0.7);
}
.adc-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
