<% content_for :heading, 'Room Booking Contact Form' %>

<p>Dear ADC Management,</p>

<p>You have received the following message from the contact form on the Room Booking System:</p>

<p><%= @message %></p>
