<% if flash[:alert] %>
  <% alert = flash[:alert] %>
  <% if alert.is_a?(Hash) %>
    <% message = alert['message'] %>
    <% classes = "alert alert-dismissible alert-#{alert['class']}" %>
    <div class="<%= classes %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, message, :id => "flash_#{alert['class']}" %>
    </div>
  <% end %>
<% end %>
