<% if flash[:message] %>
  <% if flash[:message]['message'].is_a?(String) %>
    <%
      message = flash[:message]['message']
      classes = "alert alert-dismissible alert-#{flash[:message]['class']}"
    %>
    <div class="<%= classes %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, message, :id => "flash_#{flash[:message]['class']}" %>
    </div>
  <% end %>
<% end %>
