<nav class="navbar navbar-expand-lg navbar-adc">
  <% logo = image_tag('logo-long-white.svg', width: '160', alt: 'Room Booking') %>
  <%= link_to logo, root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler adc-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <% pages = ['about', 'development'] %>
      <% pages.each do |page| %>
        <li class="nav-item">
          <%= link_to page.capitalize, page_path(page), class: 'nav-link' %>
        </li>
      <% end %>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to 'Log Out', signout_path, class: 'nav-link' %>
        <% else %>
          <%= link_to 'Log In', signin_path, class: 'nav-link' %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
