<% controllers = ['bookings', 'venues'] %>
<% controllers.append 'users', 'admin' if user_is_admin? %>
<% controllers.each do |controller| %>
  <li class="nav-item">
    <%= link_to controller.capitalize, { controller: "/#{controller}" }, class: 'nav-link' %>
  </li>
<% end %>
