<li class="nav-item">
  <% if user_logged_in? %>
    <%= link_to 'Log Out', logout_path, class: 'nav-link' %>
  <% else %>
    <%= link_to 'Log In', login_path, class: 'nav-link' %>
  <% end %>
</li>
