<li class="nav-item">
  <%= link_to 'Bookings', bookings_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to 'Rooms', rooms_path, class: 'nav-link' %>
</li>
<% if user_is_admin? %>
  <li class="nav-item">
    <%= link_to 'Users', users_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Admin', admin_dashboard_path, class: 'nav-link' %>
  </li>
<% end %>
